body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.weather-app {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

.location {
    margin-bottom: 20px;
}

.location label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.location input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.location button {
    background-color: #434543;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.weather-info h1 {
    color: #333;
    margin-bottom: 20px;
}

#city-name {
    margin-top: 0;
}

.forecast {
    margin-top: 20px;
}

.forecast p {
    font-size: 16px;
    margin: 10px 0;
}

#toggle-button {
    background-color: #404141;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none;
    text-align: center;
}

#toggle-button:hover {
    background-color: #2980b9;
}






