body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.weather-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.location label {
    display: block;
    margin-bottom: 5px;
}

.location input {
    width: 80%;
    padding: 5px;
    margin-right: 5px;
}

/* Estilos normales del botón */
.location button {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Estilos cuando se pasa el mouse sobre el botón */
.location button:hover {
    background-color: rgb(91, 90, 90); /* Nuevo color de fondo al pasar el mouse */
}


.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 24px;
    margin: 0;
}





